---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="max-w-2xl mx-auto px-4 sm:px-6 py-12 sm:py-16 md:py-24">
    <div
      class="flex flex-wrap items-center justify-between gap-3 mb-10 sm:mb-14 sm:flex-nowrap"
    >
      <div class="flex items-center gap-4 sm:gap-5">
        <h1 class="mb-0 leading-none pt-2">awe in everything</h1>
      </div>
    </div>

    <div class="space-y-5 sm:space-y-6 text-base sm:text-lg leading-relaxed">
      <!-- 
      Add ", and looking for it on all live-streaming platforms." at the end of the second sentence.

      But do this only after I am ready for that step.
      -->

      <p class="text-neutral-500 dark:text-neutral-400">
        I, <a target="_blank" href="https://x.com/tadaspetra">Tadas Petra</a>,
        find awe in everything. I am building the perfect environment for
        finding it and recording all my findings here.
      </p>

      <h2 class="mt-16">in progress</h2>
      <div class="space-y-0">
        <p>nothing yet</p>
      </div>

      <h2 class="mt-16">done</h2>
      <div class="space-y-0">
        <p>nothing yet</p>
      </div>
    </div>
  </main>
</Layout>
